# Directories
.vs/
bin/
bin-int/

# Files
*.user

**/.project
**/.workspace

#VS
**/*.vcxproj*

Makefile
**/*.xcodeproj
**/*.xcworkspace

**/.DS_Store

#Android
**/AndroidManifest.xml
.modules
**/build.gradle
**/CMakeLists.txt

